.backdrop {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000003d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrong{
  background-color: #ff7171;
  outline: solid red;

  &::placeholder{
    color: red;
  }
}

.isClosed{
    display: none;
}
.modal {
  background-color: #fff;
  width: 100%;
  height: 454px;
  border-radius: 25px;
  padding: 25px;
  @media screen and (min-width: 768px) {
    width: 400px;
    height: 440px;
    padding: 30px 45px 22px 45px;
  }
  @media screen and (min-width: 1200px) {
    width: 600px;
    height: 534px;
    padding: 27px 80px;
  }
  &Suptitle {
    color: #000;
    position: relative;

    font-family: "Montserrat Alternates";
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin-bottom: 17px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 28px;
      margin-bottom: 40px;
    }
    &Span {
      position: absolute;
      cursor: pointer;
      top: -5px;
      right: -17px;
      @media screen and (min-width: 768px) {
        top: -5px;
        right: -25px;
      }
      @media screen and (min-width: 1200px) {
        top: -5px;
        right: -50px;
      }
    }
  }
  &Form {
    &Label {
      color: #000;

      font-family: Montserrat;
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 15px;
      display: block;

      @media screen and (min-width: 1200px) {
        font-size: 14px;
      }
    }
    &Input {
      width: 100%;
      height: 40px;
      padding: 20px 12px;
      border-radius: 10px;
      background: #e4e4e4;
      border: 0;
      margin-bottom: 25px;

      color: #000000;

      font-family: Montserrat;
      font-size: 12px;
      font-weight: 500;
      &::placeholder{
        color: #ababab;

      }
      @media screen and (min-width: 1200px) {
        margin-bottom: 30px;
        height: 50px;
        font-size: 14px;
      }
    }
  }
  &SignInBtn {
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 10px 30px;
    border-radius: 10px;
    background: #ffb36c;
    color: #000;

    font-family: Montserrat;
    font-size: 12px;

    font-weight: 400;
    margin-bottom: 15px;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }
  &Link {
    color: #000;

    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;

    @media screen and (min-width: 1200px) {
      font-size: 10px;
    }
    &Span {
      text-decoration: underline;
    }
  }
  &Close {
    width: 30px;
    height: 30px;
  }
}
